---
import { getCollection } from "astro:content";
import ArchivePostPreview from "./ArchivePostPreview.astro";
import { toSlug } from "src/utils";

const allPosts = await getCollection("blog");

const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const currentYear = new Date().getFullYear();
const postsByYear = new Array(50)
  .fill(0)
  .map((_, i) => currentYear - i)
  .map((year) => ({
    year,
    posts: sortedPosts.filter(
      (post) => new Date(post.data.date).getFullYear() === year
    ),
  }));

const tags = [...new Set<string>(allPosts.flatMap((post) => post.data.tags))];
const techs = [
  ...new Set<string>(allPosts.flatMap((post) => post.data.techs ?? [])),
];

tags.sort();
techs.sort();
---

<div class="flex flex-col gap-8">
  <ul class="tag-list">
    {
      tags.map((tag) => (
        <li>
          <a
            class="tag"
            href={`/tags/${toSlug(tag)}`}
            title={`View posts tagged under "${tag}"`}
          >
            {tag}
          </a>
        </li>
      ))
    }
  </ul>

  <h1
    class="text-3xl font-extrabold text-theme-primary dark:text-theme-dark-primary"
  >
    Sort by technology
  </h1>

  <ul class="tag-list">
    {
      techs.map((tech) => (
        <li>
          <a
            class="tag"
            href={`/tags/${toSlug(tech)}`}
            title={`View posts tagged under "${tech}"`}
          >
            {tech}
          </a>
        </li>
      ))
    }
  </ul>
</div>
<section class="post-preview__list mt-4">
  {
    postsByYear.map(({ posts, year }) => {
      if (posts.length === 0) return null;
      const sortedPosts = posts.sort(
        (a, b) =>
          new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
      );
      return (
        <div>
          <h2 class="year">{year}</h2>
          {sortedPosts.map((post) => (
            <ArchivePostPreview post={post} />
          ))}
        </div>
      );
    })
  }
</section>
<style>
  .post-preview__list {
    @apply flex flex-col gap-2;
  }
  .year {
    @apply text-3xl font-bold p-2 mt-2;
  }
  .tag-list {
    @apply list-none flex gap-2 flex-wrap;
  }
  .tag {
    @apply inline-block text-xl px-4 py-1 rounded-full text-theme-primary bg-theme-dark-primary dark:bg-theme-primary dark:text-theme-dark-primary hover:bg-theme-primary hover:text-theme-dark-primary dark:hover:bg-theme-dark-primary dark:hover:text-theme-primary;
  }
</style>
