---
import type { CollectionEntry } from "astro:content";
import { getMonthName } from "src/utils";
import Prose from "./Prose.astro";

interface Props<T extends "blog" | "project"> {
  post: CollectionEntry<T>;
  type?: T;
}

const {
  post: { data: post, slug, body },
  type = "blog",
} = Astro.props;

const description = post.description ?? body?.slice(0, 150) + "...";
---

<div class="archive-post-preview">
  <div class="">
    <div class="archive-post-preview__date">
      <p class="archive-post-preview__date-element">
        {getMonthName(post.date)}
      </p>
      <p class="archive-post-preview__date-element">
        {new Date(post.date).getDate().toString().padStart(2, "0")}
      </p>
    </div>
  </div>
  <div class="flex-1">
    <h4 class="archive-post-preview__title dark:text-theme-dark-primary">
      <a href={`/${type}/${slug}`} title={post.title}>{post.title}</a>
    </h4>
  </div>
</div>
<style>
  .archive-post-preview {
    @apply flex gap-3 items-center;
  }
  .archive-post-preview__date {
    @apply flex flex-row  text-left;
  }
  .archive-post-preview__date-element {
    @apply w-10;
  }
  .archive-post-preview__date__month-n-year {
    @apply text-gray-600;
  }
  .archive-post-preview__title {
    @apply text-xl font-semibold text-theme-primary dark:text-theme-dark-primary /* this doesn't works here */ hover:underline;
  }
  .archive-post-preview__desc {
    @apply text-lg leading-6 line-clamp-2 dark:text-white hyphens-auto;
  }
</style>
